<% if flash[:error] %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> <%= "#{flash[:error]}" %>
  </div>
<% end %>

<div class="login-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sign In</h3>
  </div>
  <div class="panel-body">
    <%= form_tag(controller: 'auditors', action: 'sign_in', method: :post) do %>
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="E-mail" name="email" autofocus="">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Password" name="password" type="password" value="">
        </div>
        <%= submit_tag "Login", class: "btn btn-success" %>
      </fieldset>
    <% end %>
  </div>
</div>